---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Sofia Gonzalez"
	  position="Estudiante de Desarrollo de Software"
	  aboutMe={`¡Hola! Mi nombre es Sofía Gonzalez, soy estudiante de segundo año de una Tecnicatura en Desarrollo de Software. Tengo 20 años. Soy una persona dinámica, busco tener ideas y conocimientos nuevos todo el tiempo. Tengo conocimientos de los siguientes lenguajes de programación: PYTHON - JS; También sé manejar CSS Y HTML; Flask para utilizar con bases de datos.`}
	  github="https://github.com/sofigonzalez4"
	  cvLink="file:///C:/Users/USUARIO/Downloads/CURR%C3%8DCULUM%20VITAE%20-%20Sofia%20Gonzalez.pdf"
	  profileImage="/portfolio2/images/perfil.jpeg"
	/>
</BaseLayout>
